.infinite-container
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 8px 24px;
  height: calc(100% - 46px);
  overflow: auto;

  a
    color: #000;

  .list-title 
    .title
      font-size: 1rem;

    .dec
      color: rgba(0, 0, 0, 0.45);
   
    .time
      padding-left: 1rem;

  .list-content
    height: 62px;
    width: 91%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.65);

.loading-container
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;

.infinite-container::-webkit-scrollbar
  width: 0 !important;